body {
    background-color: #0c2c24;
    color: #0cc9a9;
    font-family: Arial, sans-serif;
}

.container {
    padding-top: 50px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
