body {
    background-color: #ffffff;
    color: #666666;
    font-family: Arial, sans-serif;
}

.container {
    padding-top: 50px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
